/*
* Globals
*/

:root {
    --color-primary: #DB5461;
    --color-secondary: #31343D;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
}

/*body .content {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: -1px -1px 8px rgba(0, 0, 0, 0.3), 1px 1px 8px rgba(0, 0, 0, 0.3);
}*/
body .content header {
    position: relative;
    display: flex;
}
body .content header .logo {
    position: relative;
    background-color: var(--color-primary);
    text-transform: uppercase;
    padding: 2em;
}
body .content header .logo img {
    height: 2em;
    margin-bottom: 3em;
}
body .content header .logo p {
    color: #FFF;
    font-size: 0.75em;
    font-weight: 600;
}
body .content header .logo p span {
    color: var(--color-secondary);
}
body .content header .logo button {
    background-color: #FFF;
    border: 2px solid var(--color-secondary);
    border-radius: 50px;
    padding: 0.6em 1.3em;
    cursor: pointer;
    z-index: 10;
    color: var(--color-secondary);
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 6pt;
    font-weight: 600;
}
body .content header .logo button:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
    color: var(--color-primary);
}
body .content header .logo::after {
    position: absolute;
    content: "";
}
body .content header .header-image {
    background-image: url("images/background_header.jpg");
    background-repeat: no-repeat;
}
body .content .stats {
    background-color: var(--color-secondary);
    display: flex;
    justify-content: space-between;
}
body .content .stats .stat {
    display: flex;
    align-items: center;
}
body .content .stats .stat .icon {
    height: 20px;
    width: 20px;
}
body .content .stats .stat .infos {
    display: flex;
    flex-direction: column;
    color: #FFF;
}
body .content .stats .stat .infos .value {
    font-size: 7pt;
}
body .content .stats .stat .infos .desc {
    color: #999999;
    font-size: 6pt;
    font-weight: lighter;
}
body .content .stats .stat.location .icon {
    margin-right: 0.2em;
}
body .content .stats .stat.customer .icon {
    margin-right: 0.5em;
}
body .content .stats .stat.experience .icon {
    margin-right: 0.3em;
}

@media (min-width: 601px) {
    .content {
        width: 550px;
    }
    .content header .logo {
        width: 50%;
        padding-right: 0 !important;
        padding-bottom: 4em !important;
    }
    .content header .logo::after {
        top: 0;
        left: 100%;
        border-bottom: 256px solid var(--color-primary);
        border-right: 46px solid transparent;
    }
    .content header .header-image {
        background-position: -1px -18px;
        min-height: 100%;
        min-width: 50%;
        background-size: 148%;
    }
    .content .stats {
        padding: 1em 3em;
    }
}
@media (max-width: 600px) {
    .content {
        width: 75%;
    }
    .content header {
        flex-direction: column;
    }
    .content header .logo {
        padding-bottom: 0;
    }
    .content header .logo::after {
        top: 100%;
        left: 0;
        border-left: 380px solid var(--color-primary);
        border-bottom: 30px solid transparent;
    }
    .content header .header-image {
        min-width: 100%;
        min-height: 200px;
        background-size: cover;
    }
    .content .stats {
        padding: 1em 2em;
        flex-wrap: wrap;
    }
    .content .stats .stat {
        margin: 0.5em;
    }
    .content .stats .stat:last-of-type {
        margin: 0.5em auto;
    }
}
@media (min-width: 401px) {
    header > nav {
        position: absolute;
        top: 5em;
        right: 2em;
        display: flex;
        background-color: #FFF;
        text-transform: uppercase;
        font-size: 6.5px;
        font-weight: 600;
        padding: 0 1.2em;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
    }
    header > nav ul {
        display: flex;
        list-style-type: none;
        padding: 0;
    }
    header > nav ul li {
        margin: 0 0.3em;
    }
    header > nav ul li a {
        text-decoration: none;
        color: inherit;
    }
    header > nav ul li a:hover {
        color: var(--color-primary);
    }
    header > nav ul li:first-of-type {
        margin-left: 0;
    }
    header > nav ul li:last-of-type {
        margin-right: 0;
    }
}
@media (max-width: 400px) {
    header .logo {
        padding-top: 4em !important;
    }
    header .logo img {
        position: absolute;
        top: 1em;
        right: 1em;
    }
    header > nav {
        display: none;
    }
}
@media (max-width: 388px) {
    .content {
        min-width: 200px;
    }
    .content .stats .stat:last-of-type {
        margin: 0.5em !important;
    }
}
@media (max-width: 300px) {
    header .logo::after, header .header-image {
        display: none;
    }
}
